@model IEnumerable<WebApplication1.Models.Trainer>
@{
    ViewBag.Title = "TrainerAccountView";
}

<h2>Trainer Account</h2>
<br />
@Html.ActionLink("Create new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "btn btn-default" })
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td scope="row">@i</td>
                    <td scope="row">@item.UserName</td>
                    <td scope="row">@item.Email</td>
                    <td scope="row">
                        @Html.ActionLink("Delete", "DeleteTrainerAccount", "Admin", new { @id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit", "EditTrainerAccount", "Admin", new { @id = item.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>