@model IEnumerable<WebApplication1.Models.Course>
@{
    ViewBag.Title = "ViewAssignedCourses";
}

<h2>Assigned Courses</h2>
<hr />
@Html.ActionLink("Back to Index", "Index", "Trainer", null, new { @class = "btn btn-default" })
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Detail</th>
            <th scope="col">Course Id</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td scope="row">@i</td>
                    <td scope="row"><h4>@item.CourseName</h4></td>
                    <td scope="row">@item.CourseDetail</td>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Category.CategoryName</td>
                </tr>
            }
        }
    </tbody>
</table>

