@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>User Name:</dt>
        <dd>
            @User.Identity.Name
        </dd>

        @if (User.IsInRole("Admin"))
        {
            <dt>Manage:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins", "Manage", null, new { @class = "" })]
            </dd>
        }
        @if (User.IsInRole("Staff"))
        {
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "", "Staff", null, new { @class = "" })]
            </dd>
        }
        @if (User.IsInRole("Trainer"))
        {
            <dt>Profile:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "UpdateDetails", "Trainer", null, new { @class = "" })]
            </dd>
        }
        @if (User.IsInRole("Trainee"))
        {
            <dt>Profile:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "UpdateDetails", "Trainee", null, new { @class = "" })]
            </dd>
        }
        @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
        *@

    </dl>
</div>
