@model IEnumerable<WebApplication1.Models.Category>
@{
    ViewBag.Title = "CategoryView";
}

<h2>Category</h2>
<hr />
@Html.ActionLink("Back to Index", "CourseView", "Staff", null, new { @class = "btn btn-default" })
@Html.ActionLink("Create Category", "CreateCategory", "Staff", null, new { @class = "btn btn-default" })
<br />
@using (Html.BeginForm("CategoryView", "Staff", FormMethod.Post, htmlAttributes: new { @style = "margin: 4px;float:left" }))
{

    @Html.Label("Searching By", new { @style = "margin: 4px;font-display:auto" })
    @Html.TextBox("searchString", "", new { @class = "form-control", @style = "margin: 4px; display:inline;width:100%" })
    <button type="submit" class="btn btn-primary">Search</button>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Desciption</th>
            <th scope="col">Edit action</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td scope="row"> @i </td>
                    <td scope="row">
                        @item.CategoryName
                        <span style="margin-left:20px;position:">
                            @Html.ActionLink("X", "DeleteCategory", "Staff", new { @id = item.Id }, new { @class = "badge", @title = "Delete" })
                        </span>
                    </td>
                    <td>@item.Description</td>
                    <td scope="row">
                        @Html.ActionLink("Edit", "EditCategory", "Staff", new { id = item.Id }, new { @class = "btn btn-primary pull-left" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

