@model IEnumerable<WebApplication1.Models.Course>
@{
    ViewBag.Title = "Course View";
    var properties = new List<string>() { "Name", "Category", "Description" };
}
<h1 style="font-weight:bold">Course List</h1>
<h5 style="font-style:italic">Course Management</h5>
<hr />
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Create Course", "CreateCourse", "Staff", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Create Category", "CreateCategory", "Staff", null, new { @class = "btn btn-default" })
        @Html.ActionLink("View Category", "CategoryView", "Staff", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("CourseView", "Staff", FormMethod.Post))
        {
            <div class="search-part col-md-8">
                @Html.Label("Searching By", new { @style = "margin: 4px;font-display:auto" })
                <div class="row">
                    @foreach (string prop in properties)
                    {
                        <div class="col-lg-offset-4" style="display:block;width:120px;margin-left:10px;margin-right:10px">
                            @Html.RadioButton("option", prop, false, new { @style = "margin-right:12px;" })
                            @Html.DisplayName(prop)
                        </div>
                    }
                </div>
                <div class="submit col-lg-push-4" style="display:inline-flex">
                    @Html.TextBox("searchString", "", new { @class = "form-control", @style = "margin: 4px; display:inline;width:100%" })
                    <button type="submit" class="btn btn-primary btn-xs" style="justify-items:flex-start">Search</button>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="img-responsive">
                    <span class="badge" style="position:absolute;top:2%;left:5%;" title="Course ID">@item.Id</span>
                    <img src="~/imgs/download.jpg" class="img-fluid" style="width:100%;height:400px">
                </div>

                <div class="caption">
                    <h3 style="font-weight: bold">@item.CourseName</h3>
                    <h5><strong>Description:</strong></h5>
                    <p>@item.CourseDetail</p>
                    <h5><strong>Category:</strong></h5>
                    <p><button href="#" class="btn btn-primary" disabled role="button" title="@item.Category.Description">@item.Category.CategoryName</button></p>
                </div>

                <div class="panel-footer" style="padding:20px">
                    <div style="margin-right:4px;justify-items:center">
                        @Html.ActionLink("Delete", "DeleteCourse", "Staff", new { @id = item.Id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Edit", "EditCourse", "Staff", new { @id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Detail", "DetailCourse", "Staff", new { @id = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                    
                    <div style="margin-top:10px">
                    @Html.ActionLink("Assign Trainer", "AssignCourseToTrainer", "Staff", new { @id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Assign Trainee", "AssignCourseToTrainee", "Staff", new { @id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>

    }
</div>  