@model WebApplication1.Models.Trainer

@{
    ViewBag.Title = "Trainer detail";
}

<h1>Trainer Detail</h1>
@if (User.IsInRole("Staff"))
{
    @Html.ActionLink("Back to Index", "TrainerProfileView", "Staff", null, new { @class = "btn btn-primary" })
}
@if (User.IsInRole("Trainer"))
{
    @Html.ActionLink("Back to Index", "Index", "Trainer", null, new { @class = "btn btn-primary" })
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Label("User Name:")
        <h3 class="panel-title">@Model.UserName</h3>
    </div>

    <div class="panel-body">
        @Html.Label("Email:")
        @Model.Email
    </div>

    <div class="panel-body">
        @Html.Label("Phone Number:")
        @Model.PhoneNumber
    </div>

    <div class="panel-body">
        @Html.Label("Working place:")
        @Model.Working_Address
    </div>

    <div class="panel-body">
        @Html.Label("Education:")
        @Model.Education
    </div>

    <div class="panel-body">
        @Html.Label("External or Internal Type:")
        @Model.ExorInType
    </div>
    <br />
    @if (User.IsInRole("Staff"))
    {
        @Html.ActionLink("Edit", "EditTrainerProfile", "Staff", new { @id = Model.Id }, new { @class = "btn btn-primary" })
    }
</div>