@model WebApplication1.Models.CourseViewModel
@{
    ViewBag.Title = "DetailCourse";
    TempData["CourseId"] = Model.CourseId;
}

<h2>Detail Course</h2>

@Html.ActionLink("Back to Index", "CourseView", "Staff", null, new { @class = "btn btn-primary" })


<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Label("Course Name:")
        <h3 class="panel-title">@Model.Course.CourseName</h3>
    </div>

    <div class="panel-body">
        @Html.Label("Course ID:")
        @Model.Course.Id
    </div>

    <div class="panel-body">
        @Html.Label("Course Detail:")
        @Model.Course.CourseDetail
    </div>

    <div class="panel-body">
        @Html.Label("Category:")
        @Model.Course.Category.CategoryName
    </div>

    <div class="panel-body">
        @Html.Label("Trainer:")
        @if (Model.Trainer != null)
        {
            <button type="button" class="btn btn-success">
                @Html.ActionLink(Model.Trainer.Trainer.UserName, "DetailTrainer", "Staff", new { @id = Model.Trainer.Id }, new { @class = "text-default" })
            </button>
        }
        else
        {
            <button type="button" class="btn btn-success">
                @Html.ActionLink("Add Trainer", "AssignCourseToTrainer", "Staff", new { @id = Model.CourseId }, new { @class = "text-default" })
            </button>
        }
    </div>

    <div class="panel-body">
        @Html.Label("Trainee List:")
        @if (Model.Trainees.Count > 0)
        {
            foreach (var trainee in Model.Trainees)
            {
                <button type="button" class="btn btn-success">
                    @Html.ActionLink(trainee.Trainee.UserName, "TraineeDetails", "Staff", new { @id = trainee.Trainee.Id }, new { @class = "text-default" })
                    @if (User.IsInRole("Staff"))
                    {
                        <span>@Html.ActionLink("X", "ResignTraineeFromCourse", "Staff", new { @id = trainee.Id }, new { @class = "badge badge-light" })</span>
                    }
                </button>
            }
        }
        else
        {
            <button type="button" class="btn btn-success">
                @Html.ActionLink("Add Trainee", "AssignCourseToTrainee", "Staff", new { @id = Model.CourseId }, new { @class = "btn btn-default" })
            </button>
        }
    </div>
    <br />
    @Html.ActionLink("Edit Course", "EditTrainerProfile", "Staff", new { @id = Model.Course.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Resign Trainer", "AssignCourseToTrainer", "Staff", new { @id = Model.Course.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Assign Trainee", "AssignCourseToTrainee", "Staff", new { @id = Model.Course.Id }, new { @class = "btn btn-default" })
</div>

