@model WebApplication1.Models.CreateCourseViewModel
@{
    ViewBag.Title = "Edit Course";
}

<h2>Edit Course</h2>
<hr />
@Html.ActionLink("Back To Course", "CourseView", "Staff", null, new { @class = "btn btn-default" })
<br>
@using (Html.BeginForm("EditCourse", "Staff", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create Course.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Course.CourseName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Course.CourseName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Course.CourseName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.CourseDetail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Course.CourseDetail, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Course.CourseDetail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course.CategoryId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Course.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"), new { @class = "dropdown" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}